@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');
/* Define theme variables */
@theme {
    --color-primary: #FF9B17;
  }
  
  /* Custom utility classes */
  @layer utilities {
    :root {
      --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
    }
  
  
    .active hr {
      @apply block;
    }
  
    ::-webkit-scrollbar {
      @apply hidden;
    }

    .font-Finlandica {
      font-family: 'Finlandica', sans-serif;
    }

    .font-Outfit {
      font-family: 'Outfit', sans-serif;
    }
    
    @media (max-width:740px) {
      .active p {
        @apply text-white bg-primary
      }
    }
  }
  